#!/usr/bin/bash

# Set this for HiDPI screens
export GDK_SCALE=2
dunst &
# Disable the touchpad if my trackball is plugged in
if xinput list --name-only | grep -q 'Logitech'; then
	xinput disable "$( xinput list --name-only | grep TouchPad )"
elif xinput list --name-only | grep -q 'ELECOM'; then
	xinput disable "$( xinput list --name-only | grep TouchPad )"
fi
#
# set font paths; make sure to run mkfontdir on all the font directories added here after installation
#
xset fp+ /usr/share/fonts/added,/usr/share/fonts/awesome-terminal-fonts,/usr/share/fonts/nerd-fonts-complete &
#
# Start some programs
#
# background image
feh --bg-fill $HOME/images/background.jpg
# my dwm bar script
killall dwmBar
$HOME/.scripts/dwmBar &
# sync e-mail
killall imapSync
$HOME/.scripts/imapSync &
# get external IP address
killall ip_address
$HOME/.scripts/ip_address &
# the compton relacement (for transparency)
killall picom
picom > /dev/null 2>&1 &
# Dropbox
killall dropbox
dropbox start > /dev/null 2>&1 &
# Screen lock on inactivity
xss-lock -- i3lock -t -n -i $HOME/images/lockImage.png &

