#!/usr/bin/bash

# Set this for HiDPI screens
dunst &
# Disable the touchpad if my trackball is plugged in
if xinput list --name-only | grep -q 'Logitech'; then
	xinput disable "$( xinput list --name-only | grep TouchPad )"
elif xinput list --name-only | grep -q 'ELECOM'; then
	xinput disable "$( xinput list --name-only | grep TouchPad )"
fi
#
# set font paths; make sure to run mkfontdir on all the font directories added here after installation
#
xset fp+ /usr/share/fonts/added,/usr/share/fonts/awesome-terminal-fonts,/usr/share/fonts/nerd-fonts-complete &
#
# Start some programs
#
# background image
feh --bg-fill $HOME/images/background.jpg
# my dwm bar script
if [[ -n "$( pgrep dwmbar )" ]]; then
	killall dwmbar
fi
dwmbar &
# sync e-mail
if [[ -n "$( pgrep imapSync )" ]]; then
	killall imapSync
fi
$HOME/.scripts/imapSync &
# the compton relacement (for transparency)
if [[ -n "$( pgrep picom )" ]]; then
	killall picom
fi
picom > /dev/null 2>&1 &
# Screen lock on inactivity
xss-lock -- i3lock -t -n -i $HOME/images/lockImage.png &

